@model SparesShop.Models.ViewModels.LoginViewModel
@{
    string strTitle = "Signin";
    ViewBag.Title = strTitle;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

</head>

<body>


    <form div class="mx-auto" style="width: 200px;" asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
        <h1 class="text-center">Login</h1>
        <div class="mb-3">
            <input type="text" asp-for="Email" placeholder="Email" class="form-control">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="mb-3">
            <input type="password" asp-for="Password" placeholder="password" class="form-control">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="ml-5">
            <input type="submit" name="" value="SigIn" class="btn btn-info">
        </div>
        <div>
            <a href="/Account/Register">Register</a>
        </div>
        <div>
            <a href="/Account/ForgotPassword">Forgot password?</a>
        </div>
    </form>

</body>
</html>