@{
    string strTitle = "Contacts";
    ViewBag.Title = strTitle;
}
<p><h1><b>Contacts</b></h1></p>
<p>Phone for information:7898</p>
<p>Working hours: с 11.00 - 23.00 daily.</p>
<p>Delivery is carried out strictly in accordance with the delivery area.</p>
<p>Address:</p>

<script type="text/javascript" charset="utf-8"
        async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af0da51d5a3f4732fabaa522bc103f0477260fa7fcb49ee4a68dace7df6ae4e25&amp;width=731&amp;height=513&amp;lang=ru_RU&amp;scroll=true">

</script>
